!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .container
      %h1.text-center
        = bootstrap_icon "telephone", width: 40, height: 40
        =  "Phone Book app"
      - flash.each do |key, value|
        %div{:class => flash_class(key)}= value
      = yield
